* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #EEF4ED;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px 0;
}

header h2 {
    margin: 0;
}

/* MAIN WRAPPER */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* FORM SECTION */
main section:first-child {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* SEARCH */
#searchInput {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}

/* ADD FORM */
#addForm {
    display: flex;
    gap: 10px;
}

#addInput {
    flex: 1;
    padding: 12px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 12px 18px;
    border: 2px solid black;
    border-radius: 12px;
    background: #8DA9C4;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #13315C;
}

/* LIST SECTION */
#myUL {
    width: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#myUL li {
    padding: 10px;
    padding-left: 35px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
    position: relative;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CHECKED STYLE */
#myUL li.checked {
    text-decoration: line-through;
    color: #134074;
    background: #8DA9C4;
}
        
#myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #134074;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
#myUL li:hover{
    background-color: #8DA9C4;
}

.close {
    position: absolute;
    right: 15px;
    top: 8px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}